::selection {
  background-color: #ffffff;
}

:root {
  --grid-bg-color: #ffffcc;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.container {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.grid-container {
  display: grid;
  background-color: #ffffcc;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.painted-cell {
  background: black;
}

.clear-fade-1 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1.5s ease;
}

.clear-fade-2 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1.4s ease;
}

.clear-fade-3 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1.3s ease;
}

.clear-fade-4 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1.2s ease;
}

.clear-fade-5 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1.1s ease;
}

.clear-fade-6 {
  background-color: var(--grid-bg-color) !important;
  transition: background-color 1s ease;
}
