::selection {
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  background-color: #ffffcc;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.painted-cell {
  background: black;
}
